/* .wrapper{
    display: flex;
    align-items: center;
} */

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 40px;

    background-color: var(--accent-bg-color);
    color: var(--second-text-color);
    font-family: inherit;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color var(--main-hover-animation);
}