.Navigation {
    display: flex;
    align-items: center;

    font-weight: 700;
    margin: 0;
   

}

.list{
    display: flex;
    align-items: center;
}

.item:not(:last-child) {
    margin-right: 40px;
}


.navigation {
display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;

    background-color: var(--accent-bg-color);
    color: var(--second-text-color);
    font-family: inherit;
    font-weight: 500;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color var(--main-hover-animation);

}

.navigation:focus,
.navigation:hover {
background-color: var(--second-bg-color);
}